html, body{
    background-color: rgb(114, 114, 114);
}


h1{
    color: #D61A1B;
}

.container-fluid{
    
    display: flex;
}

.section-list{
   flex: 3; 
}

.section-form{
    flex: 2; 
 }

 /* important star */
 #iImportant{
     font-size: 35px;
     color: #D61A1B;
     cursor: pointer;
 }

 #iImportant:hover{
    font-size: 35px;
    color: rgb(233, 162, 134);
  
}